{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="parent" style="padding: 20px;">
    <div class="child">
        <form action="{% url 'users:chat' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{{ form.second_user_login }}</p>
        <p>{{ form.title }}</p>
        <input type="submit" value="Начать общение">
        </form>
    </div>
    <div class="child" style="padding-left: 5vw;">
        <div style="overflow: scroll; height: 25vh; width: 20vw;">
            {% for item in chatList%}
            <button onclick="addMessageTextArr('{{item.secondUserLogin}}');" style="width: 18vw; background-color: #E8EDFE; color: black;">
                <p>
                    {{item.firstUserLogin}} - {{item.secondUserLogin}}
                </p>
            </button>
            {% endfor %}
        </div>
    </div>
</div>


<div class="parent"><div class="child">
<div  style="background-color: #E9EBF1; width: 50vw; border-radius: 25px;">
    <div style="overflow: scroll; height: 50vh; width: 50vw;" id="chatId">

    </div>

        <div style="width: 50vw;">
            <input autofocus="autofocus" id="textFieldId" type="text" style="width: 39.5vw;" placeholder="Your message">
            <button onclick="addMessage()" style="width: 10vw;">send</button>
        </div>
    <form action="{% url 'users:chat' %}" method="post" enctype="multipart/form-data"></form>
</div></div></div>


<script>
  let currentUserName = "{{ firstUserAddress }}";
  element = document.getElementById("chatId");
  let text = "12222YouTube Chanel YouTube Chanel YouTube Chanel YouTube Chanel YouTube Chanel YouTube Chanel";
  let div1 = "<div class='child' style='width: 20vw; border-radius: 20px;"
  let div1var = "background-color: #E8EDFE;";
  let div2var = "background-color: #C6D1FC; margin-left: auto; margin-right: 0;";
  let div12 = "'><p style='padding: 1vh;'>";
  let div2 = "</p></div>";
  let msgArr = {{ messageList|safe }};

  const names = {
    "actionType": "",
    "data": "",
    "userAddress": currentUserName
    };

  function addMessage() {
    let textInput = document.getElementById("textFieldId").value;
    let div = document.createElement('divX');
    div.innerHTML = div1 + div2var + div12 + textInput + div2;
    element.append(div);
    document.getElementById("textFieldId").value = "";

    element.scrollTop = element.scrollHeight;
    document.getElementById("textFieldId").focus();

    names['data'] = textInput;
    console.log('{{ urlAdress }}/user/addMessage/' + names['userAddress'] + '/' + names['data']);
    fetch('{{ urlAdress }}/user/addMessage/' + names['userAddress'] + '/' + names['data'], {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json',
        },
    });

  }
    function addMessageText(text, user){
    let textInput = document.getElementById("textFieldId").value;
    let div = document.createElement('divX');
    if (user == 0) {
      div.innerHTML = div1 + div2var + div12 + text + div2;
    }
    else{
      div.innerHTML = div1 + div1var + div12 + text + div2;
    }
    element.append(div);
    document.getElementById("textFieldId").value = "";

    element.scrollTop = element.scrollHeight;
    document.getElementById("textFieldId").focus();
  }


  function addMessageTextArr(curUser) {
    names['userAddress'] = curUser;
    element.innerHTML = "";
       console.log(msgArr.length);
       for (let i = 0; i < msgArr.length; i++){
            console.log(i);
            if (curUser == msgArr[i][1]){
                addMessageText(msgArr[i][3], msgArr[i][2]);
            }
       }
  }
  addMessageTextArr("{{ firstUserAddress }}");
  element.scrollTop = element.scrollHeight;

</script>

{% endblock %}
