	.wrapper {
		display: grid;
        grid-gap: 10px;
		grid-template-columns: 30vw 70vw;
		background-color: #fff;
		color: #444;
	}

	.wrapperMini {
		display: grid;
        grid-gap: 10px;
		grid-template-columns: 15vw;
		background-color: #fff;
		color: #444;
	}

	.wrapperForm {
		display: grid;
        grid-gap: 10px;
		grid-template-columns: 19vw 10vw;
		background-color: #fff;
		color: #444;
	}

	.box {
		border-radius: 5px;
		padding: 20px;
		font-size: 100%;

	}

	.boxMini {
		border-radius: 5px;
		font-size: 100%;

	}

	.boxForm {
		border-radius: 5px;
		font-size: 100%;

	}
