{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}
<div class="cards">
  {% for item in name %}
  <div class="card">
  <div class="card__top">
    <a href="#" class="card__image">
      <img src="{% static item.url %}" alt="Apple IPhone 14 PRO Max Gold"/>
    </a>
    <div class="card__label">{{ item.sale }}</div>
  </div>
  <div class="card__bottom">
    <div class="card__prices">
      <div class="card__price card__price--discount">{{ item.price1 }}</div>
      <div class="card__price card__price--common">{{ item.price2 }}</div>
    </div>
    <a href="#" class="card__title">{{ item.title }}</a>
      <form action="{% url 'orders:basket_add' item.id %}">
        <button class="card__add">В корзину</button>
      </form>
      <p></p>
  </div>
</div>
  {% endfor %}

</div>

{% else %}
    <a class="link" href="{% url 'users:login' %}">Go to login</a>
    <a class="link" href="{% url 'users:registration' %}">Go to registration</a>
{% endif %}
{% endblock %}
