{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static '/css2/main.css' %}" rel="stylesheet">
    <link href="{% static '/css2/header.css' %}" rel="stylesheet">
    <link href="{% static '/css2/footer.css' %}" rel="stylesheet">
    <link href="{% static '/css2/test/index.css' %}" rel="stylesheet">
    <link href="{% static '/css2/test/basket.css' %}" rel="stylesheet">
</head>
<body>

    <div id="header-img">
        <img style="min-height: 30vh; min-width: 100vw;" src="{% static '/imgs/israel_iran_wall_Zoonar_Alamy.jpg' %}">
    </div>

    <ul id="nav-bar">
        <li><a style="font-size: 20px;" class="link" href="#">News</a></li>
        <li><a style="font-size: 20px;" class="link" href="#">Bets</a></li>
        <li><a style="font-size: 20px;" class="link" href="#">Analytics</a></li>
        {% if user.is_authenticated %}
            <li style="float: right;"><a style="font-size: 20px;" class="link" href="#">Profile</a></li>
            <li style="float: right;"><a style="font-size: 20px;" class="link" href="#">Wallet</a></li>
            <li style="float: right;"><a style="font-size: 20px;" class="link" href="#">&#9993;</a></li>
        {% else %}
            <li style="float: right;"><a style="font-size: 20px;" class="link" href="#">Login</a></li>
            <li style="float: right;"><a style="font-size: 20px;" class="link" href="#">Register</a></li>
        {% endif %}

        {% if user.is_superuser or user.is_staff %}
            <li style="float: right;"><a style="font-size: 20px;" class="link" href="{% url 'admin:index' %}">Admin</a></li>
        {% endif %}
    </ul>



{% block nav %}{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}


   <footer style="padding-top: 100px;">
      <div class="footer-body">

          <div> <p>WarWise Analytics Betting</p>
              <div style="display: flex;">
                  <a href="https://t.me/militarybetbot"
                     style="color: white; text-decoration: none; padding: 10px;">
                      <div class="child" style="width: 10vw; background-color: #202793; border-radius: 20px;">
                          <p>Telegram Bot</p>
                          <img width="50" src="{% static '/tgimgs/bot.png' %}" style="border-radius: 25px;">
                      </div>
                  </a>
                  <a href="https://t.me/globalcompas"
                     style="color: white; text-decoration: none; padding: 10px;">
                      <div class="child" style="width: 10vw; background-color: #202793; border-radius: 20px;">
                          <p>Telegram Chanel</p>
                          <img width="50" src="{% static '/tgimgs/compas.png' %}" style="border-radius: 25px;">
                      </div>
                  </a>
                  <a href="https://www.youtube.com/@GlobalCompas"
                     style="color: white; text-decoration: none; padding: 10px;">
                      <div class="child" style="width: 10vw; background-color: #202793; border-radius: 20px;">
                        <p>YouTube Chanel</p>
                        <img width="50" src="{% static '/tgimgs/youtube.jpeg' %}" style="border-radius: 25px;">
                      </div>
                  </a>
              </div>
          </div>
         <div>
            <p> These names convey the combination of military analytics and betting in a professional and serious manner. </p>
            <ul>
               <li><a href="#"> About </a></li>
               <li><a href="#"> Contact </a></li>
               <li><a href="#"> Terms & Conditions </a></li>
               <li><a href="#"> Privacy Policy </a></li>
            </ul>
         </div>
      </div>
      <div class="footer-copyright">
          <div class="parent">
            <div class="child">
                ©Aleksandr Kristal
            </div>
          </div>
      </div>
   </footer>

</body>
</html>
