<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Создать чат</p>
  <form action="" method="post">
        {% csrf_token %}
        Type : <input type="text" name="actionType" value="createChat"><br><br>
        firstUserLogin : <input type="text" name="firstUserLogin" ><br><br>
        secondUserLogin : <input type="text" name="secondUserLogin" ><br><br>
        token : <input type="text" name="token" ><br><br>
      <input type="submit" value="Submit">
  </form>

<p>Получить чаты</p>
  <form action="" method="post">
        {% csrf_token %}
        Type : <input type="text" name="actionType" value="getChats"><br><br>
        firstUserLogin : <input type="text" name="firstUserLogin" ><br><br>
        token : <input type="text" name="token" ><br><br>
      <input type="submit" value="Submit">
  </form>

<p>Получить сообщения чата</p>
  <form action="" method="post">
        {% csrf_token %}
        Type : <input type="text" name="actionType" value="getChatMessages"><br><br>
        firstUserLogin : <input type="text" name="firstUserLogin" ><br><br>
        token : <input type="text" name="token" ><br><br>
        chatId : <input type="text" name="chatId" ><br><br>
      <input type="submit" value="Submit">
  </form>

<p>Отправить сообщение</p>
  <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        Type : <input type="text" name="actionType" value="sendMessage"><br><br>
        firstUserLogin : <input type="text" name="firstUserLogin" ><br><br>
        token : <input type="text" name="token" ><br><br>
        chatId : <input type="text" name="chatId" ><br><br>
        text : <input type="text" name="text" ><br><br>
        Data: <input type="file" name="fileData"><br><br>
      <input type="submit" value="Submit">
  </form>

<p>Прочитать сообщение</p>
  <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        Type : <input type="text" name="actionType" value="readMessage"><br><br>
        firstUserLogin : <input type="text" name="firstUserLogin" ><br><br>
        token : <input type="text" name="token" ><br><br>
        messageId : <input type="text" name="messageId" ><br><br>
      <input type="submit" value="Submit">
  </form>

<p>Прочитать сообщения чата</p>
  <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        Type : <input type="text" name="actionType" value="readChat"><br><br>
        firstUserLogin : <input type="text" name="firstUserLogin" ><br><br>
        token : <input type="text" name="token" ><br><br>
        chatId : <input type="text" name="chatId" ><br><br>
      <input type="submit" value="Submit">
  </form>


</body>
</html>
