<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h2>Recovery password</h2>
  <form action="" method="post">
        ActionType : <input type="text" name="actionType" value="sendRecoveryLink"><br><br>
        UserName : <input type="text" name="user"><br><br>
      <input type="submit" value="Submit">
  </form>
  <h2>Get token</h2>
  <form action="" method="post">
        ActionType : <input type="text" name="actionType" value="getRecoveryLink"><br><br>
        Token : <input type="text" name="token"><br><br>
        Pass1 : <input type="text" name="pass1"><br><br>
        Pass2 : <input type="text" name="pass2"><br><br>
      <input type="submit" value="Submit">
  </form>
</body>
</html>
